{% extends "layout.html" %} {%block content%} {%from "_macro.html" import
render_field%}
<div class="container">
  <div class="row">
    <h3>Alumnos</h3>
    <h4><a href="index.html"></a></h4>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apaterno</th>
          <th>Amaterno</th>
          <th>Correo</th>
          <th>Eliminar</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody>
        {%for alum in alumnos%}
        <tr>
          <td>{{alum.nombre}}</td>
          <td>{{alum.apaterno}}</td>
          <td>{{alum.email}}</td>
          <td>
            <a href="eliminar.html?id={{alum.id}}" class="btn btb-danger"></a>
          </td>
          <td>
            <a href="modificar.html?id={{alum.id}}" class="btn btb-warning"></a>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
